.iframe-footer{
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    height: 13%;
    width: 100%;
    background: #568f4f;
}

.footer{
    bottom: 0px;
    right: 0px;
    left: 0px;

}

.footer .footer-item i{
    font-size: 2em;
    display: block;
}

.footer .footer-item{
    text-decoration: none;
    padding-top: 15px;
    font-size: 1em;
    color: white;
    float: left;
    text-align: center;
    width: 33.333333333%;
    height: 100%;
    background: none;

}